<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Getting Started: Serving Web Content</title> 
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <!-- Compiled and minified CSS -->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   	
	</head>
	<body>
	<div class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">"Good as new" electronics</a>
	      <ul id="nav-mobile" class="right">
	        <li><a data-target="modal1" class="modal-trigger">My cart</a></li>
	        <li><a th:href="@{'/logout'}" role="menuitem"> Logout</a>

   <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      <input hidden type="submit" value="Sign Out"/>
   </form> </li>
	        
	        
	        
	        
	      </ul>
	    </div>
	  </nav>
	</div>
	<div class="row">
		<h3 class="col center s10">Electronics and goodies</h3>
	</div>
		<div class="form-group container row">
			<table class="col s12" id="store">
		    	<thead>
		          <tr>
		              <th>Name</th>
		              <th>Description</th>
		              <th>Quantity</th>
		          </tr>
		    </thead>
		    <tbody>
		         <tr th:each="product : ${products}">
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.description}">Description</td>
					<td>					
						<form id="addQuantityToCart" action="addQuantityToCart" th:method="addQuantityToCart">
						<input type="number" max="99"  min="1" required name ="quantity"/>						  					
						  <input type="hidden" th:value="${product.id}" name="productId">
						  <button type="submit" formmethod="post" class="waves-effect waves-light btn btn-danger">Add</button>
						</form>
					</td>
		         </tr>   
		    </tbody>
		    </table>
		     <!-- Modal Trigger -->				  
		</div>
		<!-- Modal Structure -->
		  <div id="modal1" class="modal">
		    <div class="modal-content">
		    <h4>Cart</h4><br>
		      <table id="cart">
		    	<thead>
		          <tr>
		              <th>Name</th>
		              <th>Quantity</th>
		              <th>Remove</th>
		              <th>Change quantity</th>
		          </tr>
			    </thead>
			    <tbody>
			         <tr th:each="cartItem : ${cartItems}">
						<td th:text="${cartItem.product.name}">Name</td>
						<td th:text="${cartItem.quantity}">Quantity</td>
						<td><a th:method="delete" th:href="|@{/delete}/${cartItem.id}|" class="waves-effect waves-light btn btn-danger">Delete</a></td>
						<td>					
							<form id="addQuantityToCart" action="addQuantityToCart" th:method="addQuantityToCart">
								<input type="number" max="99"  min="1" required name ="quantity"/>						  					
							  	<input type="hidden" th:value="${cartItem.product.id}" name="productId">
							  	<button type="submit" formmethod="post" class="waves-effect waves-light btn btn-danger">Change</button>
							</form>
						</td>
			         </tr>   
			    </tbody>
		    </table>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		    </div>
		  </div>
	</body>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
        $('.modal').modal();
      });
    </script>
</html>